<%= turbo_frame_tag "main-content", data: { page_id: "profile-link" } do %>
    <div class="container">
        <div class="page profile">
            <div class="title">
                <%= render "profiles/navigation" %>
            </div>
            <%= turbo_frame_tag "profile-pages", data: { page_id: "profile-link" } do %>
                <%= render "information", profile: @profile, user: @user %>
                <% if @profile == current_user.profile %>
                    <%= turbo_frame_tag "new_post", src: new_post_path %>
                <% end %>
                <%= turbo_stream_from "post_index_stream" %>
                <div id="posts">
                    <%= render @posts %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
