<%= turbo_frame_tag "main-content", data: { page_id: "profile-link" } do %>
    <div class="container">
        <div class="page profile">
            <div class="title">
                <%= render "navigation" %>
            </div>
            <%= turbo_frame_tag "profile-pages", data: { page_id: "profile-link" } do %>
                <%= turbo_frame_tag "profile-info" do %>
                    <div class="container">
                        <div class="user-information">
                            <div class="top">
                                <img src="<%= @profile.image %>=s128" alt="User avatar" />
                                <div class="profile-button">Edit</div>
                            </div>
                            <div class="bottom">
                                <div class="username">@<%= @user.username %></div>
                                <div class="email"><%= @user.email %></div>
                                <div class="about"><%= @profile.about %></div>
                            </div>
                        </div>
                    </div>
                <% end %>
                <%= turbo_frame_tag "new_post", src: new_post_path %>
                <%= turbo_stream_from "post_index_stream" %>
                <div id="posts">
                    <%= render @posts %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
