<%= turbo_frame_tag "profile-info" do %>
    <div class="container">
        <div class="profile-form">
            <%= form_with model: @user, url: user_path do |f| %>
                <%= f.fields_for :profile do |profile_form| %>
                    <div class="errors">
                        <% @user.errors.full_messages.each do |message| %>
                            <%= message %>
                        <% end%>
                    </div>
                    <%= render "profiles/profile_image",  profile: @user.profile %>
                    <div class="image-field">
                        <%= profile_form.label :image, "Profile Picture" %>
                        <%= profile_form.file_field :image, direct_upload: true %>
                    </div>
                    <div class="form">
                        <div class="field">
                            <%= f.label :username %>
                            <%= f.text_field :username, placeholder: @user.username %>
                        </div>
                        <div class="field">
                            <%= profile_form.label :about %>
                            <%= profile_form.text_field :about %>
                        </div>
                        <div class="field">
                            <%= f.label :email %>
                            <%= f.email_field :email %>
                        </div>
                        <div class="submit">
                            <%= f.submit "Update" %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>