<%= turbo_frame_tag "new_post" do %>
    <div class="container">
        <div class="post-form">
            <%= form_with model: post do |f| %>
                <% post.errors.full_messages.each do |message| %>
                    <%= message %>
                <% end %>
                <%= f.text_field :content %>
                <%= f.file_field :image, direct_upload: true%>
                <%= f.submit "Post" %>
            <% end %>
        </div>
    </div>
<% end %>
