<div class="post">
    <div class="container">
        <div class="author">
            <%= post.user.username %>
        </div>
        <div class="body">
            <%= post.body %>
        </div>
        <div class="likes">
            <%= turbo_frame_tag "new_like_#{post.id}" do %>
                <%= render "likes/like", post: post %>
            <% end %>
        </div>
        <div class="line">
            ------------------------------------
        </div>
        <div class="comments">
                <%= turbo_frame_tag "comments_#{post.id}" do %>
                    <% post.comments.each do |comment| %>
                        <%= render comment, post: post %>
                    <% end %>
                <% end %>
            <%= turbo_frame_tag "new_comment_#{post.id}", src: new_post_comment_path(post_id: post.id) %>
        </div>
        <br>
        <br>
    </div>
</div>
