<div id="<%= dom_id(post) %>" class="post">
    <div class="container">
        <div class="author">
            <%= post.user.username %>
        </div>
        <div class="delete-post">
            <%= render "posts/link_template", post: post %>
        </div>
        <div class="content">
            <% if post.postable_type == "Picture" %>
                <%= image_tag url_for(post.postable.content.variant(resize_to_limit: [500, nil])), alt: post.postable.alt %>
            <% else %>
                <%= post.postable.content %>
            <% end %>
        </div>
        <div class="likes">
            <%= turbo_stream_from "like" %>
            <%= turbo_frame_tag "like_count_#{post.id}" do %>
                <%= render "likes/like_count", post: post %>
            <% end %>
            <%= turbo_frame_tag "new_like_#{post.id}" do %>
                <%= link_to "Like", likes_path(post_id: post.id), data: { turbo_method: :post, turbo_stream: true } %>
            <% end %>
        </div>
        <div class="line">
            ------------------------------------
        </div>
        <%= turbo_stream_from "comments_stream_#{post.id}" %>
        <div class="comments">
            <%= turbo_frame_tag "comments_#{post.id}" do %>
            <% end %>
            <%= turbo_frame_tag "new_comment_#{post.id}", src: new_post_comment_path(post_id: post.id) %>
        </div>
        <br>
        <br>
    </div>
</div>
