<div class="post">
    <div class="container">
        <div class="author">
            <%= post.user.username %>
        </div>
        <div class="content">
            <% if post.postable_type == "Picture" %>
                <%= image_tag url_for(post.postable.content.variant(resize_to_limit: [nil, 400])), alt: post.postable.alt %>
            <% else %>
                <%= post.postable.content %>
            <% end %>
        </div>
        <div class="image">

        </div>
        <div class="likes">
            <%= render "likes/like", post: post %>
        </div>
        <div class="line">
            ------------------------------------
        </div>
        <%= turbo_stream_from "comments_stream_#{post.id}" %>
        <div class="comments">
            <%= turbo_frame_tag "comments_#{post.id}" do %>
                <% post.comments.reverse.each do |comment| %>
                    <%= render comment, post: post %>
                <% end %>
            <% end %>
            <%= turbo_frame_tag "new_comment_#{post.id}", src: new_post_comment_path(post_id: post.id) %>
        </div>
        <br>
        <br>
    </div>
</div>
