<div class="post">
    <div class="container">
        <div class="author">
            <%= post.user.username %>
        </div>
        <div class="body">
            <%= post.body %>
        </div>
        <div class="likes">
            <% likes = post.likes.count %>
            <%= likes if likes > 0%>
        </div>
        <div class="line">
            ------------------------------------
        </div>
        <div class="comments">
            <% post.comments.each do |comment| %>
                <div class="author">
                    <%= comment.user.username %>
                </div>
                <div class="body">
                    <%= comment.body %>
                </div>
            <% end %>
        </div>
    </div>
</div>
