<div class="post">
    <div class="container">
        <div class="author">
            <%= post.user.username %>
        </div>
        <div class="body">
            <%= post.body %>
        </div>
        <div class="likes">
            <%= turbo_frame_tag "new_like_#{post.id}" do %>
                <%= render "likes/like", post: post %>
            <% end %>
        </div>
        <div class="line">
            ------------------------------------
        </div>
        <div class="comments">
            <% post.comments.each do |comment| %>
                <div class="author">
                    <%= comment.user.username %>
                </div>
                <div class="body">
                    <%= comment.body %>
                </div>
            <% end %>
        </div>
        <br>
        <br>
    </div>
</div>
